* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', 'Roboto', sans-serif;
}

.profile-details {
    padding: 5px 3%;
    margin: 20px 20%;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 40vh;
}

.user-right-details {
    margin-right: 18%;
}

.user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #626262
}

.user-box img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

textarea {
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    resize: none;
}

.user-left-details {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
}

.user-left-details ul {
    margin-bottom: 16px;
    padding-bottom: 25px;
}

.user-left-details ul li {
    list-style: none;
    font-size: 14px;
    color: #626262
}

.edit-profile button {
    width: 100%;
    background-color: var(--primary4-bgclr);
    border-radius: 12px;
    color: #fff;
    height: 30px;
    cursor: pointer;
    border: 2px solid var(--primary2-bgclr);
}

.edit-profile button:hover {
    background-color: var(--primary3-bgclr);
    color: var(--primary4-bgclr);
}

.photo-collection-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 4%;
    margin: 0 15%;
    background-color: #fff;
}
.photo-box{
    width: 200px;
}
.photo-box img{
    width: 200px;
    aspect-ratio: 1;
}