* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', 'Roboto', sans-serif;
}

:root {
    --primary-bgclr: #c5aa6a;
    --primary2-bgclr: #996515;
    --primary3-bgclr: #efefef;
    --primary4-bgclr: #cf9c71;
}

body {
    background-color: var(--primary3-bgclr);
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.profile-details {
    position: relative;
    padding: 5px 3%;
    margin: 20px 20%;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 40vh;
}

.user-right-details {
    display: flex;
    padding: 2% 2% 2% 2%;
    margin-right: 40px;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 180px;
}

.user-right-details span {
    font-size: 12px;
    margin-top: 20px;
    color: #626262;
}

.user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #626262
}

.user-box p {
    font-weight: 500;
    font-size: 18px;
}

.user-box img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-left-details {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
}

.user-left-details ul {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.user-left-details ul li {
    list-style: none;
    font-size: 14px;
    color: #626262;
    margin-bottom: 5px;
}

.edit-profile button {
    width: 100%;
    padding: 5px;
    background-color: var(--primary4-bgclr);
    border-radius: 4px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid var(--primary2-bgclr);
    transition: 0.3s ease-in-out;
}

.edit-profile button:hover {
    background-color: #fff;
    color: var(--primary4-bgclr);
}

.photo-collection-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    margin: 0 20%;
    background-color: #fff;
}

.photo-box {
    --size: 210px;
    width: var(--size);
    height: var(--size);
}

.photo-box img {
    --size: 210px;
    width: var(--size);
    height: var(--size);
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 7px;
    width: 60%;
    transform: translateY(30%);
}

.top-modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--primary-bgclr);
}

.top-modal p {
    color: var(--primary4-bgclr);
    letter-spacing: 3px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    position: relative;
    margin-bottom: 20px;
}

.name input {
    width: 100%;
    height: 50px;
    padding: 3px 46px;
    font-size: 22px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary-bgclr);
    transition: 0.3s;
}

.name input:focus {
    border: 1px solid var(--primary4-bgclr);
    border-radius: 12px;
    outline: none;
}

.name i {
    font-size: 22px;
    position: absolute;
    left: 13px;
    color: var(--primary-bgclr);
}

.profilePic{
    width: 315px;
    cursor: pointer;
}
.profilePic label{
    color: #626262;
    font-size: 22px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 60px;
    resize: none;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary4-bgclr);
    padding: 5px;
    font-size: 20px;
}

.close {
    color: #626262;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}